.banner_wrapper .banner {
	background-size: cover;
	border: 1px solid black;
	height: 300px;
	position: relative;
	max-width: 100%;
}

.banner_wrapper .banner .custom_banners_big_link{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.banner_wrapper .banner .banner_caption {
	background-color: rgba(0, 0, 0, 0.7);
	color: #FFFFFF;
	padding: 20px;
	position: absolute;
	left: 0;
	right: 0;
}			

.banner_wrapper .banner.bottom .banner_caption {
	bottom: 0;
}			

.banner_wrapper .banner.top .banner_caption {
	top: 0;
}			

.banner_wrapper .banner.left .banner_caption {
	top: 0;
	right: auto;
	bottom: 0;
	width: 30%;
}			

.banner_wrapper .banner.right .banner_caption {
	top: 0;
	left: auto;
	bottom: 0;
	width: 30%;
}			

.banner_wrapper .banner.top .banner_caption {
	top: 0;
}			

.banner_wrapper .banner.top.has_cta .banner_caption,
.banner_wrapper .banner.bottom.has_cta .banner_caption {
	padding: 20px 140px 20px 20px;
}

.banner_wrapper .banner.left .banner_call_to_action,
.banner_wrapper .banner.right .banner_call_to_action {
	text-align: center;
	top: auto;
	margin: 0;
	bottom: 15px;
	right: 15px;
	left: 15px;
}

.banner_wrapper .banner.left .banner_call_to_action .banner_btn_cta,
.banner_wrapper .banner.right .banner_call_to_action .banner_btn_cta {
	display: block;
}


.banner_wrapper .banner .banner_call_to_action {
	margin-top: -1.3em;
	position: absolute;
	right: 15px;
	top: 50%;
	vertical-align: top;
}

.banner_wrapper .banner .banner_call_to_action .banner_btn_cta {
	background: none repeat scroll 0 0 #FFA500;
	border: 1px solid #FF8C00;
	border-radius: 5px;
	color: #000080;
	display: inline-block;
	font-weight: bold;
	margin: 0;
	padding: 6px 10px;
}